body {
  background-color: #374259;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
}

.button-audit {
  background-color: #134B70;
  color: black;
  border-color: black;
  border-radius: 5px;
  border-width: 3px;
  box-shadow: 10px 10px #2d303f;
}

.button-harden {
  background-color: #A02334;
  color: rgb(255, 238, 173);
  border-color: black;
  border-radius: 5px;
  border-width: 3px;
  box-shadow: 10px 10px #2d303f;
}

.button-harden:hover {
  transform: scale(1.1);
  background-color: #d33046;
}

.button-audit:hover {
  transform: scale(1.1);
  background-color: #1c62a3;
}

.sidebar {
  width: 20%;
  overflow-y: scroll;
  height: 95vh;
  background-color: #545B77;
  border-color: black;
  overflow-x: hidden;
  border-width: 3px;
  border-radius: 15px;
  padding: 3px;
  margin-left: 15px;
  box-shadow: 10px 10px #2d303f;
}

.sidebar-content {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.sidebar-entry {
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-entry:hover {
  background-color: #8c94c1;
}


.main_content {
  width: 100%;
  height: 95vh;
  margin-left: 1%;
  margin-right: 1%;
  height: 95vh;
  background-color: #545B77;
  border-color: black;
  border-width: 3px;
  border-radius: 15px;
  padding: 1%;
  box-shadow: 10px 10px #2d303f;
}

.appcontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 95vh;
}

.entry_title {
  font-size: large;
  text-align: center;
  color: #F2D8D8;
}

textarea {
  font-size: large;
  background-color: rgb(92, 137, 132);
  color: #F2D8D8;
  justify-self: stretch;
  resize: none;
  border-width: 3px;
  border-color: black;
  border-radius: 15px;
  margin-left: 1%;
  padding: 1%;
  box-shadow: 10px 10px #2d303f;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

select {
  align-self: center;
  background-color: #5C8984;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
}

hr {
  border: 3px solid black
}

input {
  background-color: #5C8984;
  color: #F2D8D8;
  justify-self: flex-start;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
  box-shadow: 10px 10px #2d303f;
}

.regkey_info {
  flex-direction: column;
  display: flex;
  margin-right: 1%;
}

.audit_info {
  display: flex;
}

.audit_script {
  width: 100%;
}


.lock {
  width: 24px;
  height: 21px;
  border: 3px solid var(--locked-color);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.lock:after {
  content: "";
  display: block;
  background: var(--locked-color);
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.lock:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  bottom: 100%;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  border: 3px solid var(--locked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* Locked Hover */
.lock:hover:before {
  height: 12px;
}

/* Unlocked */
.unlocked {
  transform: rotate(10deg);
}

.unlocked:before {
  bottom: 130%;
  left: 31%;
  margin-left: -11.5px;
  transform: rotate(-45deg);
}

.unlocked,
.unlocked:before {
  border-color: var(--unlocked-color);
}

.unlocked:after {
  background: var(--unlocked-color);
}

/* Unlocked Hover */
.unlocked:hover {
  transform: rotate(3deg);
}

.unlocked:hover:before {
  height: 10px;
  left: 40%;
  bottom: 124%;
  transform: rotate(-30deg);
}

.monaco-box {
  box-shadow: 10px 10px #2d303f;
  border-radius: 10px;
}


/* scroll bar */
::-webkit-scrollbar {
  border-radius: 15px;
}

.sidebar-content::-webkit-scrollbar-track {
  background-color: #545B77;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c487a;
  border-radius: 15px;
  border: 3px solid black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2a3c81;
}