<!doctype html>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

  body {
    font-family: "Short Stack", cursive;
  }
</style>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Harden Gui</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  <script src="https://unpkg.com/alpinejs" defer></script>
  <script src="https://unpkg.com/htmx.org@2.0.2"
    integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <h1>HARDENIZER</h1>
  <div class="appcontainer" id="appcontainer">
    <div class="sidebar" id="sidebar" hx-get="/sidebar" hx-swap="innerHTML" hx-trigger="load"
      hx-target="#sidebar-content">
      <div id="header" style="display: flex; flex-direction: columns; position:fixed;">
        <select name="sidebar" hx-get="/sidebar" hx-swap="innerHTML" hx-target="#sidebar-content">
          <option selected value="registries">Registries</option>
          <option value="commands">Commands</option>
        </select>
      </div>
      <div id="sidebar-content" class="sidebar-content"></div>
    </div>
    <div class="main_content" id="main_content" hx-get="/main" hx-trigger="load" hx-swap="innerHTML">
    </div>
  </div>
  <a hx-get="/about" hx-swap="innerHTML" hx-target="#main_content" hx-trigger="click"
    style="cursor: pointer;"><u>About</u></a>
</body>

</html>